# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual environment
venv/
env/

# IDE specific files (e.g., Visual Studio Code, PyCharm)
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

# Dependency directories (optional, depending on your setup)
# Add any directory where you install dependencies, e.g., "requirements/"
# You may need to modify this based on your specific project structure
requirements*/

# Ignore the FastAPI generated OpenAPI schema file (optional)
openapi.json